.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 2px solid black;
  width: 100%;
  height: 9vh;
}

.ul {
  display: flex;
  justify-content: space-around;

  margin: 1vh;
  padding-inline-start: 0px;
}

.li {
  text-align: center;
  border-left: 2px solid black;
  padding: 0 5.5vw;
  list-style-type: none;
  
}

.liFirstChild {
  border-left: none;
}

.icon {
  /* margin: 10px 20px; */
}
